<?xml version="1.0" encoding="utf-8"?>
<manifest package="ru.mamba.test.mambatest"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Profile"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".activity.Login"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Login"/>
        </activity>
        <activity
            android:name=".activity.Albums"
            android:label="@string/title_activity_albums"
            android:parentActivityName=".activity.Profile"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Profile"/>
        </activity>
        <activity
            android:name=".activity.Contacts"
            android:label="@string/title_activity_main"
            android:parentActivityName=".activity.Profile"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Profile"/>
        </activity>
        <activity
            android:name=".activity.Anketa"
            android:label="@string/title_activity_anketa"
            android:parentActivityName=".activity.Contacts"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Contacts"/>
        </activity>
        <activity
            android:name=".activity.NewAlbum"
            android:label="@string/title_activity_new_album"
            android:parentActivityName=".activity.Albums"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Albums"/>
        </activity>
    </application>

</manifest>
